Ejercicio_01/.vs/Ejercicio_01/v16/Broswe.VC.opendb
/Ejercicio_01/.vs/Ejercicio_01/v16
/Ejercicio_01/Debug
/Ejercicio_01/Ejercicio_01/Debug
/Ejercicio02_dibujarPuntos/.vs/Ejercicio02_dibujarPuntos/v16
/Ejercicio02_dibujarPuntos/Debug
/Ejercicio02_dibujarPuntos/Ejercicio02_dibujarPuntos/Debug
*.vcxproj
*.filters
/Ejercicio02_dibujarPuntos/Ejercicio02_dibujarPuntos/Ejercicio02_dibujarPuntos.vcxproj.user
*.sln
